@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');


body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif; 
}
nav ul {
    display: flex;
    align-items: center;
    color: white;
    list-style-type: none;
    height: 55px;
    background-color: black;
}
nav ul li {
    margin: 0 12px;
}

.brand img{
    width: 35px;
    padding: 5px 5px;
}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1rem;
}

.container {
    min-height: 63vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 10px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
}

.bottom{
    position: sticky;
    height: 80px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.icons {
    margin-top: 20px;
}
.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 50px ;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 30px;
}

.timeStamp{
    margin: 0 12px;
    
}

.timeStamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 9.6vw;
    margin-top: -20px;
}

.songInfo img{
    font-family: 'Varela Round', sans-serif;
   opacity: 0;
   transition: 0.4s ease-in; 
}

